<% content_for :title do %>About Us<% end %>

<div class="row-fluid margin-bottom-30">
  <div class="span12 hero">
    <p class="lead">
      <span class="dropcap">RB Technologies</span>
      is a cutting-edge market data and options scanning software provider, built from the ground up by successful options traders and market professionals.  The suite of RB Technologies products was developed over time, carefully refined through countless iterations, to help traders quickly identify and act upon shifting market opportunities.  Now these market- tested technologies are available to the public, helping options traders of all strategies gain an edge in today’s rapidly changing options markets.
    </p>

    <p class="lead">
      Headquartered in the heart of Chicago’s Loop, RB Technologies is uniquely situated in one of the world’s top ten global financial centers, rubbing shoulders with the Chicago Board Options Exchange and some of the nation’s largest futures and stock exchanges.  Our state-of-the-art server array resides in the Equinix Chicago Data Center, sharing space with many of the financial world’s leading institutions and most innovative technology firms.
    </p>
  </div>
</div>
<!--/row-fluid-->