<% content_for :title do %>Announcements<% end %>

<div class="row-fluid">
  <div class="span12 bg-light margin-bottom-10">
    <div class="headline">
      <h3 class="emphasis">Welcome to RBTrader.</h3>
    </div>
    <p>New features coming soon!</p>
    <%= render 'layouts/countdown', :year => 2013, :month => 7, :day => 25 %>
    <small>posted by Admin, 8/18/2013</small>
  </div>
</div>