</div>  
<br/>
  <!-- Carousel -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item item-quick active">
        <img src="assets/bg.jpg" alt="">
        <div class="carousel-caption">
          <p>Invest</p>
        </div>
      </div>
      <div class="item item-quick">
        <img src="assets/spse2-0.jpg" alt="Photo by Rafael Matsunaga">
        <div class="carousel-caption">
          <p>Identify</p>
        </div>
      </div>
      <div class="item item-quick">
        <img src="assets/boerse2-2.jpg" alt="Photo by Wikimedia user: Dontworry">
        <div class="carousel-caption">
          <p>Grow</p>
        </div>
      </div>
    </div>
            
<!--     <div class="carousel-arrow">
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
    </div> -->
  </div>

  <!--=== Purchase Block ===-->
  <div class="row-fluid purchase margin-bottom-30">
      <div class="container">
        <div class="span9">
          <span>Cutting-edge market data and options scanning software.</span>
          <p>We will be launching very soon, so sign up today to learn more!</p>
        </div>
        <%= link_to 'Register Now', new_user_registration_path, :class => 'btn-buy hover-effect' %>
      </div>
  </div><!--/row-fluid-->
  <!-- End Purchase Block -->

  <div class="container"> 
    <!-- Service Blocks -->
    <div class="row-fluid">

      <div class="span4">
        <div class="service clearfix">
          <i class="icon-desktop"></i>
            <div class="desc">
              <h4>Intelligent Scanners</h4>
              <p>The RB Technologies Trade Scanner Viewer allows traders to identify and implement option trading ideas on the fly, allowing successful navigation of rapidly changing market conditions.</p>
            </div>
        </div>
      </div>
      
      <div class="span4">
        <div class="service clearfix">
          <i class="icon-bar-chart"></i>
          <div class="desc">
            <h4>Market Data</h4>
            <p>As a vendor of record, RB Technologies provides a non-consolidated, real-time stream of all North American options data via state of the art, dedicated connections at ultra-low latency.</p>
          </div>
        </div>  
      </div>

      <div class="span4">
        <div class="service clearfix">
          <i class="icon-exchange"></i>
          <div class="desc">
            <h4>Execution Services</h4>
            <p>RB Technologies FIX clients utilize an ultra-low latency server system specifically designed to support high-frequency proprietary and automated trading groups. Built for maximum speed and reliability.</p>
          </div>
        </div>
      </div>

    </div><!--/row-fluid-->
    <!-- //End Service Blokcs -->
  </div>