<% content_for :title do %>Data - Historical Database<% end %>

<div class="row-fluid">
  <div class="span12 hero">
    <div style="font-size:12em;" class="dropcap"><i class="icon-bar-chart"></i></div>
    <br/>
    <p class="lead lh-adjust-db">RB Technologies historical database offers full and complete option execution information going back for up to <span alt="update with actual years">several years</span>. This data is complete and unedited, providing all data points as they were initially received. This comprehensive database affords complete and thorough back-testing of trading systems and strategies.</p>
  </div>
</div>