<% content_for :title do %>Network<% end %>

<div class="row-fluid">
  <div class="span12 hero">
    <a id="trade-servers"></a><h2>Trade Servers</h2>
    <div style="font-size:12em;" class="dropcap adjust-margin"><i class="icon-exchange"></i></div>
    <p class="lead">RB Technologies FIX clients utilize an ultra-low latency server system specifically designed to support high-frequency proprietary and automated trading groups. Architected to provide maximum speed and stability, RB Technologies engineers have designed the system to take every advantage of exchange proximity and allow for quick integration of system enhancements.</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 hero">
    <a id="fix-trading"></a><h2>FIX Trading</h2>
    <div style="font-size:12em;" class="dropcap extra-margin2"><i class="icon-superscript"></i></div>
    <p class="lead lh-adjust-db">RB Technologies has developed proprietary server based 'Artificial Intelligence' trading technologies that can be configured to automatically enter and manage your option orders. This AI interface allows you to set a range of order triggers and cancellation parameters, and actively implements these strategies. This AI automation can be configured to run concurrently with user's’ order entry, or function independently.</p>
  </div>
</div>