<% content_for :title do %>Sign Up Successful<% end %>

<div class="row-fluid">
  <div class="span12 well well-large">
    <h3>Thanks for signing up!</h3>
    <p>We have emailed you a confirmation letter so please check your inbox to confirm enrollment for the RBTrader newsletter.</p>
  </div>
</div>