<% content_for :title do %>Data - Ticker Plant<% end %>

<div class="row-fluid">
  <div class="span12 hero">
    <div style="font-size:12em;" class="dropcap"><i class="icon-download-alt"></i></div>
    <p class="lead lh-adjust-pt">As a vendor of record, RB Technologies provides a non-consolidated, real-time stream of all North American options data via state of the art, dedicated connections.  This unfiltered, ultra-low latency data flows directly from the source, providing up to the millisecond options exchange information.</p>
  </div>
</div>