<% content_for :title do %>Trade Scanner Viewer<% end %>

<div class="row-fluid">
  <div class="span12 well well-large">
    <div class="headline"><h3 class="emphasis">Overview</h3></div>
    <p class="lead"><strong>Trade Scanner Viewer</strong>, by RB Technologies, allows traders to identify and implement option trading ideas on the fly, allowing successful navigation of rapidly changing market conditions.

    <br/><br/>

    The customizable options scan includes a catalog of pre-set, user-defined filters such as:
    <ul class="unstyled lead">
      <li class="indent"><i class="icon-ok color-green"></i>&nbsp;Exchange</li>
      <li class="indent"><i class="icon-ok color-green"></i>&nbsp;Edge</li>
      <li class="indent"><i class="icon-ok color-green"></i>&nbsp;Size</li>
      <li class="indent"><i class="icon-ok color-green"></i>&nbsp;Spread and Lean</li>
    </ul>
    </p>

    <p class="lead"><strong>Trade Scanner Viewer</strong>, is designed for dynamic real-time integration and offers further customization via an intuitive, user-friendly interface, allowing traders to embed limitless conditions and logical if / and /or formulas to their scans.  Users can save multiple custom filters for regular reference, allowing them to scan the option markets against any available data point, and for any conceivable options trading strategy.</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 hero">
    <a id="platform-integration"></a><h2>Platform Integration</h2>
    <div style="font-size:12em;" class="dropcap extra-margin1"><i class="icon-code-fork"></i></div>
    <p class="lead lh-adjust-tsv1"><strong>Trade Scanner Viewer</strong> is fully integrated for options and equity order entry to both Sterling Trader Pro and InstaQuote trading platforms.  Traders can instantly execute trading strategies, or initiate multiple orders that can be further managed via EMS hot keys and analytical tools.</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 hero">
    <a id="options-quote-board"></a><h2>Options Quote Board</h2>
    <div style="font-size:12em;" class="dropcap extra-margin2"><i class="icon-globe"></i></div>
    <p class="lead lh-adjust-tsv1">Click and drag specific names and strikes to your quote board for ease of monitoring and execution, color coded by exchange, edge, special condition trades, or any other parameter. Trade directly from your Options Quote Board via integration to multiple execution platforms.</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 hero">
    <a id="locked-market-inversion-scanner"></a><h2>Locked Market / Inversion Scanner</h2>
    <div style="font-size:12em;" class="dropcap extra-margin2"><i class="icon-bullseye"></i></div>
    <p class="lead lh-adjust-tsv1">This specialty scanner identifies fleeting arbitrage opportunities, enabling traders to quickly identify and capitalize on locked or inverted quote situations, where bid prices may match or exceed offering prices across different options exchanges.</p>
  </div>
</div>