// Main Imports
@import "bootstrap";
@import "style";
@import "header1";
@import "bootstrap-responsive";
@import "style_responsive";

// // CSS Plugins
@import "font-awesome";
//@import "jquery.fancybox";
//@import "effects";
//@import "flexslider";
//@import "parallax-slider";
@import "countdown";

// // Themes
@import "theme-default";

#logo-header {
  margin-top: -45px;
}

.dropcap {
  font-size: 300%;
  font-weight: bold;
  float: left;
  position: relative;
  margin-right: 10px;
  line-height: 0.7em;
  color: #555;
}

.alert {
  margin-top: 20px;
  margin-bottom: 0px;
}

.lh-adjust-pt {
  line-height: 43px !important;
}

.lh-adjust-db {
  line-height: 38px !important;
}

.lh-adjust-tsv1 {
  line-height: 65px !important;
}

.lh-adjust-tsv2 {
  line-height: 45px !important;
}

.extra-margin1 {
  margin-right: 75px !important;
}

.extra-margin2 {
  margin-right: 35px !important;
}

.adjust-margin {
  margin-top: -30px !important;
}

.h2line {
  border-bottom: 2px solid #72c02c;
}

.indent {
  padding-left: 1em;
}

.emphasis {
  font-size: 32px;
}