<div class="row-fluid">
  <div class="span8">           
    <p>2013 &copy; RB Technologies. ALL Rights Reserved. <%= link_to 'Privacy Policy', privacy_policy_path %> | <%= link_to 'Terms of Service', terms_of_service_path %></p>
  </div>
  <div class="span4"> 
    <%= link_to(image_tag('rbt-horizon-small.png', :id => 'logo-footer', :class => 'pull-right', :style => 'height: 35px; width: auto;'), root_url) %> 
  </div>
</div><!--/row-fluid-->