<div class="row-fluid">
  <div class="span4">
    <!-- About -->
    <div class="headline"><h3>About</h3></div>
    <p class="margin-bottom-25">RB Technologies is a cutting-edge market data and options scanning software provider, built from the ground up by successful options traders and market professionals.</p>

    <!-- Monthly Newsletter -->
    <div class="headline"><h3>Monthly Newsletter</h3></div> 
    <p>Subscribe to our newsletter and stay up to date with the latest news and updates!</p>
    <%= form_tag subscribe_path, :method => :post, :class => 'form-inline' do %>
      <div class="input-append">
        <%= text_field_tag "email", nil, :placeholder => "Email Address", :class => "input-medium", :id => 'txtEmail' %>
        <%= submit_tag "Subscribe", :class => "btn-u", :id => 'btnValidate' %>
      </div>
    <% end %>
  </div><!--/span4--> 
  
  <div class="span4">
    <div class="posts">
      <div class="headline"><h3>Recent Blog Entries</h3></div>
        <p>No entries at the moment!</p>
    </div>
  </div><!--/span4-->

  <div class="span4">
    <div class="headline"><h3>Contact Us</h3></div> 
    <address>
      RB Technologies <br />
      100 S. Wacker Dr. <br />
      Suite 225 <br />
      Chicago, IL 60606 <br/>
      USA <br /><br />
      Phone: (800) 123-3456 <br />
      Fax: (800) 123-3456 <br />
      Email: <a href="mailto:marketing@rb-trader.com" class="">marketing@rb-trader.com</a>
    </address>

    <!-- Stay Connected -->
    <div class="headline"><h3>Stay Connected</h3></div> 
      <ul class="social-icons">
          <li><a href="https://facebook.com/rbtrader" data-original-title="Facebook" class="social_facebook"></a></li>
          <li><a href="https://twitter.com/rb_trader" data-original-title="Twitter" class="social_twitter"></a></li>
          <li><a href="http://rbtrader.tumblr.com/" data-original-title="Tumblr" class="social_tumblr"></a></li>
      </ul>
  </div><!--/span4-->
</div><!--/row-fluid--> 